{{ content }}


{{# 
====================================
  NOTES
====================================

If you choose to not specify a template in your front matter, Statamic uses the following template hierarchy:

If present: post.html
Otherwise, if present: default.html
Otherwise: 404.html

See http://statamic.com/docs/how-statamic-works#markup-parsing for more information.

The {{ content }} tag displays everything below the custom content fields.

see http://statamic.com/docs/core-template-tags/entries#variables for mor information on the {{ content }} tag.
  
#}}