<h2>This Page Is Using The Default Template</h2>
{{ entries:listing folder="blog" limit="2" }}
<article>
  <h3><a href="{{ url }}">{{ title }}</a></h3>
  <hr>
</article>
{{ /entries:listing }}

{{ entries:pagination folder="blog" limit="2" }}
  {{ if first_page }}
    <a href="{{ first_page }}">&laquo; First</a>
  {{ endif }}
 
  {{ if previous_page }}
    <a href="{{ previous_page }}">&laquo; Previous</a>
  {{ endif }}
 
  <a href="{{ current_page }}">Current</a>
 
  {{ if next_page }}
    <a href="{{ next_page }}">Next &raquo;</a>
  {{ endif }}
 
  {{ if last_page }}
   <a href="{{ last_page }}">Last &raquo;</a>
  {{ endif }}
{{ /entries:pagination }}

{{# 
====================================
  NOTES
====================================

If you choose to not specify a template in your front matter, Statamic uses the following template hierarchy:

If present: post.html
Otherwise, if present: default.html
Otherwise: 404.html

See http://statamic.com/docs/how-statamic-works#markup-parsing for more information.

The {{ content }} tag displays everything below the custom content fields.

see http://statamic.com/docs/core-template-tags/entries#variables for mor information on the {{ content }} tag.
  
#}}
